<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoSlab-Regular.ttf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Verbal uses the microphone to record your spoken job description and turn it into a quote.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Verbal transcribes your voice on-device to build your quote. Your audio never leaves your phone.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>RoyalBlue400</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.730414346653-7mm7bs8q82qonlbhupugckcq0h4ngl57</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
